@using Microsoft.AspNetCore.Identity
@using Todo.Data
@using Todo.Data.Entities
@using Todo.Views.TodoItem
@model Todo.Models.TodoItems.TodoItemCreateFields

@{
    ViewData["Title"] = $"New Item in {Model.TodoListTitle}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-4">
    @{
        await Html.RenderPartialAsync("_TodoItemFormPartial", Model);
    }
</div>
